body {
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Brush Script MT', cursive;
    color:brown;
}

a {
    color:rgb(2, 137, 226);
}

ul {
    list-style-type:none;
    width: 200px;
    margin: auto;
    padding: 0;
}

ol {
    text-align: center; 
    list-style-position:inside;
    padding: 0;
}

#return a{
    color: red;
}